
.content__heading {
  font-size: 3rem;
  color: $color-white;
  font-weight: 600;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  @media only screen and (max-width: $bp-small){
    text-align: center;
  }
}

.heading__hero {
  color: $color-white;
  font-size: 2rem;

  @media only screen and (max-width:$bp-large) {
    font-size: 1.8rem ;
  }
  @media only screen and (max-width:$bp-medium) {
    font-size: 1.5rem;;
  }
  @media only screen and (max-width: $bp-small){
    
  }
}
