.content {
  width: 100%;
}

.box {
  display: grid;
  grid-template-columns: minmax(20rem, 2fr) minmax(20rem, 1fr);

  grid-gap: 2rem;
  @media only screen and (max-width:$bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(5rem, 20rem));
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fill, 1fr); //CHANGE THIS ONE FOR MOBILE RESPONSIVE
    grid-template-rows: repeat(2, minmax(5rem, 20rem));
  }
}

.tab {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform .2s;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }

  &__heading {
    // position: absolute;
    width: 45%;
    line-height: 1.7;
    // text-align: left;
    // top: 30%;
    // left: 5%;
    // transform: translateY(-50%);

    // &--2 {
    //   top: 35%;
    //   left: 10%;
    //   transform: translateY(-50%);
    // }
    margin-bottom: 1rem;

    @media only screen and (max-width:$bp-medium) {
      width: 70%;
    }
    
  }

  

  &__box {
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translateY(-50%);

    &--2 {
      margin-top: 2rem;
      top: 40%;
      left: 10%;
      transform: translateY(-50%);
    }
  }

  &:hover{
    transform: translateY(-.5rem);
    
  }
}
