//BASIC COLORS
$color-primary: #1f1d2b;
$color-secondary: #0daabc;

$color-primary-light: #353440;
$color-primary-2: #252836;

$color-gray: #242730;
$color-gray-light: #808191;

$color-white: #ffffff;

$color-purple: #6c5ecf;
$color-orange: #ec5252;

//FONT COLORS
$font-primary: "poppins", san-serif;


//RESPONSIVE VARIABLES
$bp-largest : 75em;
$bp-large: 62.5em;
$bp-medium: 46.8em;
// $bp-small: 40.62em;
$bp-small : 31.32em;
$bp-smallest: 21.8em;